@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
<head>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" />
      <!-- Responsive-->
      <link href="@Url.Content("~/css/responsive.css")" rel="stylesheet" />
      <!-- Scrollbar Custom CSS -->
      @*<link href="@Url.Content("~/css/jquery.mCustomScrollbar.min.css")" rel="stylesheet" />*@
      <!-- Tweaks for older IEs-->
      

</head>
<body class="main-layout">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <h1><div>@ViewData["GraphApiResult"]</div></h1>
    <h1><div>@ViewData["GraphApiResult2"]</div></h1>
    

      
</body>