@page
@using Newtonsoft.Json
@using CalidadDefectos.Models;
@model CalidadDefectos.Pages.T_DeteccionModel
@{
    ViewData["Title"] = "Graficas";
    int cont = 0;
    string _tags = "";
    int[] _values = new int[200];
    int count = 0;
    int contRun = 0, contLin = 0, contLib = 0, contLeak = 0;
}
<div class="text-center">
    <h1 class="display-4">Detecciones</h1>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.2/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<body>
    <form>
          <p>
             Detección:
                        <select asp-for="ListaDetecciones" asp-items="Model.Detecciones">
                        <option value="">All</option>
                        </select> 
                        <input type="submit" value="Buscar" onclick="location.reload()" />
          </p>
    </form>

    <center>
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
    </center>
    

   <table class="table">
        <thead>
            <tr>
                <th>
                    Mes
                </th>
                <th>
                    Detección
                </th>
                <th>
                    Cantidad
                </th>
            </tr>
        </thead>
        <tbody>    
            @{
                       @foreach (var item in Model.Formulario_Model2){        
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mes)  
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deteccion)
                                </td>
                                <td>
                                    1
                                </td>
                            </tr>
                    if(@item.Deteccion == "Run Test"){
                        contRun = contRun + 1;
                    }else if(@item.Deteccion == "Linea"){
                        contLin = contLin + 1;
                    }else if(@item.Deteccion == "Liberacion"){
                        contLib = contLib + 1;
                    }else if(@item.Deteccion == "Leak Test"){
                        contLeak = contLeak + 1;
                    }
                     cont = cont + 1;
                }    
                //@foreach (var item in Model.Formulario_Model){        
                //    <tr>
                //        <td>
                              
                //        </td>
                //        <td>                
                //            @item.Deteccion
                //        </td>
                //        <td>
                //            @item.DetCount
                //        </td>
                //    </tr> 
                //    cont = cont +  @item.DetCount;
                //}  
               
            }
            
            <tr>
                <td></td>
                <td>
                    <h6>Totales: </h6>
                </td>
                <td>
                    <h6>@cont</h6>
                </td>
            </tr>   
            <center> 
                <h6>  
                    RUN TEST: @contRun -
                    LINEA: @contLin -
                    LIBERACION: @contLib -
                    LEAK TEST: @contLeak 
                </h6>
            </center>
           
        </tbody>     
      </table>
      <a asp-page="./Graficas">↩Back</a>
    </body>

    @{   
    @foreach (var item2 in Model.Formulario_Model2)
        {
             _tags = ",RunTest,Linea,Liberacion,LeakTest";
            _values[0] = contRun;
            _values[1] = contLin;
            _values[2] = contLib;
            _values[3] = contLeak;
            count++;
        }
        //@foreach (var item in Model.Formulario_Model)
        //{
        //    _tags = _tags + "," + @item.Deteccion;
        //    _values[count] = @item.DetCount;
        //    count++;      
        //}
        var yourJavaScriptArray = Html.Raw(Json.Serialize(_values));
    <input type="hidden" id="tags" value="@_tags"/>
    <input type="hidden" id="values" value="@yourJavaScriptArray"/>
    }
<script>
        if ($('#myChart').length) {
            var xValues = document.getElementById('tags').value.replace(/\[|\]/g, '').split(',')
            var yValues = Array.from(document.getElementById('values').value.replace(/\[|\]/g, '').split(',')).map(Number)
            xValues.shift()
            var barColors = [
              "#b91d47",
              "#00aba9",
              "#2b5797",
              "#e8c3b9"
            ];
            new Chart("myChart", {
              type: "pie",
              data: {
                labels: xValues,
                datasets: [{
                  backgroundColor: barColors,
                  data: yValues
                }]
              },
              options: {
                title: {
                  display: true,
                  text: "Grafica Detecciones"
                }
              }
            });
        }

</script>